NODE_ENV="production"
SELF_HOSTED="true"
BATCH_SIZE="5000"
BATCH_INTERVAL="10000"
ALLOW_REGISTRATION="false"
ALLOW_INVITATION="true"
REDIS_URL="redis://op-kv:6379"
CLICKHOUSE_URL="http://op-ch:8123/openpanel"
DATABASE_URL="postgresql://postgres:postgres@op-db:5432/postgres?schema=public"
DATABASE_URL_DIRECT="postgresql://postgres:postgres@op-db:5432/postgres?schema=public"
DASHBOARD_URL="http://127.0.0.1:4400"
API_URL="http://127.0.0.1:4400/api"
COOKIE_SECRET="REPLACE_WITH_64_HEX_RANDOM_VALUE"
