{$KANEO_CLIENT_URL} {
	handle /api/auth/sign-up/* {
		respond 403
	}
	handle /api/auth/sign-in/social {
		respond 403
	}
	handle /api/auth/anonymous {
		respond 403
	}
	handle /api/auth/callback/* {
		respond 403
	}
	reverse_proxy kaneo:5173
}
